<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
    RedirectMatch permanent ^/index.php\.php/(.*) /$1
</IfModule>

<Files "data.db">
	Order Allow,Deny
	Deny from all
</Files>