{% extends "layout.twig" %}

{% block content %}
<div class="content">
	<div class="row">
		<div class="col col-1-3">
			<h2>1</h2>
		</div>
		<div class="col col-2-3">
			<h1>Betreffende Datei: {{ filepath }}</h1><br>
			<a href="/backend">Nicht korrekt?</a>
		</div>
	</div>
	<div class="line"></div>
	<div class="row">
		<div class="col col-1-3">
			<h2>2</h2>
		</div>
		<div class="col col-2-3">
			<form method="post" action="/generate/templink">
			<p>Anzahl angeben wie oft die Datei aufgerufen werden kann.</p>
			<p><input value="1" placeholder="Anzahl" name="count"></p>
			<input type="hidden" name="filepath" value="{{ filepath }}">
			<input type="hidden" name="csrf_token" value="{{ token }}">
			<input class="button" type="submit" name="submit" value="Erstellen">
			</form>
		</div>
	</div>
</div>
{% endblock %}